In [2]:
import pandas as pd
import seaborn as sns
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351746,ZWE,Africa,Zimbabwe,2023-10-21,265821.0,0.0,1.857,5720.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351747,ZWE,Africa,Zimbabwe,2023-10-22,265821.0,0.0,1.857,5720.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351748,ZWE,Africa,Zimbabwe,2023-10-23,265821.0,0.0,1.857,5720.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351749,ZWE,Africa,Zimbabwe,2023-10-24,265821.0,0.0,0.000,5720.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351750,ZWE,Africa,Zimbabwe,2023-10-25,265821.0,0.0,0.000,5720.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [3]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351751 entries, 0 to 351750
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    351751 non-null  object
 1   continent                                   335030 non-null  object
 2   location                                    351751 non-null  object
 3   date                                        351751 non-null  object
 4   total_cases                                 313796 non-null  float64
 5   new_cases                                   342176 non-null  float64
 6   new_cases_smoothed                          340917 non-null  float64
 7   total_deaths                                292167 non-null  float64
 8   new_deaths                                  342227 non-null  float64
 9   new_deaths_smoothed                         340997 non-null  float64
 10  total_cases_per_million                     313796 non-null  float64
 11  new_cases_per_million                       342176 non-null  float64
 12  new_cases_smoothed_per_million              340917 non-null  float64
 13  total_deaths_per_million                    292167 non-null  float64
 14  new_deaths_per_million                      342227 non-null  float64
 15  new_deaths_smoothed_per_million             340997 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37645 non-null   float64
 18  icu_patients_per_million                    37645 non-null   float64
 19  hosp_patients                               38951 non-null   float64
 20  hosp_patients_per_million                   38951 non-null   float64
 21  weekly_icu_admissions                       10228 non-null   float64
 22  weekly_icu_admissions_per_million           10228 non-null   float64
 23  weekly_hosp_admissions                      23289 non-null   float64
 24  weekly_hosp_admissions_per_million          23289 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          79423 non-null   float64
 35  people_vaccinated                           76021 non-null   float64
 36  people_fully_vaccinated                     72688 non-null   float64
 37  total_boosters                              47670 non-null   float64
 38  new_vaccinations                            65436 non-null   float64
 39  new_vaccinations_smoothed                   182210 non-null  float64
 40  total_vaccinations_per_hundred              79423 non-null   float64
 41  people_vaccinated_per_hundred               76021 non-null   float64
 42  people_fully_vaccinated_per_hundred         72688 non-null   float64
 43  total_boosters_per_hundred                  47670 non-null   float64
 44  new_vaccinations_smoothed_per_million       182210 non-null  float64
 45  new_people_vaccinated_smoothed              182005 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  182005 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          298624 non-null  float64
 49  median_age                                  277701 non-null  float64
 50  aged_65_older                               268000 non-null  float64
 51  aged_70_older                               274917 non-null  float64
 52  gdp_per_capita                              272176 non-null  float64
 53  extreme_poverty                             175410 non-null  float64
 54  cardiovasc_death_rate                       272811 non-null  float64
 55  diabetes_prevalence                         286693 non-null  float64
 56  female_smokers                              204647 non-null  float64
 57  male_smokers                                201863 non-null  float64
 58  handwashing_facilities                      133638 non-null  float64
 59  hospital_beds_per_thousand                  240839 non-null  float64
 60  life_expectancy                             323637 non-null  float64
 61  human_development_index                     264420 non-null  float64
 62  population                                  351751 non-null  float64
 63  excess_mortality_cumulative_absolute        12202 non-null   float64
 64  excess_mortality_cumulative                 12202 non-null   float64
 65  excess_mortality                            12202 non-null   float64
 66  excess_mortality_cumulative_per_million     12202 non-null   float64
dtypes: float64(62), object(5)
memory usage: 179.8+ MB

In [5]:
df.shape

(351751, 67)

In [6]:
# checking covid cases in Nigeria
len(df[df["location"] == "Nigeria"])

1392

In [7]:
# checking missing values in each column
df.isnull().sum().sort_values(ascending=False)

weekly_icu_admissions                      341523
weekly_icu_admissions_per_million          341523
excess_mortality_cumulative_per_million    339549
excess_mortality                           339549
excess_mortality_cumulative                339549
                                            ...
new_deaths_per_million                       9524
population                                      0
date                                            0
location                                        0
iso_code                                        0
Length: 67, dtype: int64

In [8]:
# checking countries represented
df["location"].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Andorra', 'Angola', 'Anguilla', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'High income', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low income', 'Lower middle income', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Vatican', 'Venezuela', 'Vietnam', 'Wales', 'Wallis and Futuna',
       'Western Sahara', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [9]:
sample = df.copy()
locations_to_exclude = ["Africa", "Upper middle income", "lower income", 
                        "World", "Lower middle income", "Low income", "High income"]

# Update the "location" column by keeping only the rows where "location" is not in the list
df = df[~df["location"].isin(locations_to_exclude)]
df["location"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'England',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'European Union', 'Faeroe Islands', 'Falkland Islands',
       'Fiji', 'Finland', 'France', 'French Guiana', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America', 'North Korea', 'North Macedonia',
       'Northern Cyprus', 'Northern Ireland', 'Northern Mariana Islands',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Pitcairn', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Martin (French part)', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'United States Virgin Islands', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam',
       'Wales', 'Wallis and Futuna', 'Western Sahara', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [10]:
# locations_to_exclude = ["Africa", "Upper middle income", "lower income", "World", "Lower middle income"]

# # Use df.drop to exclude the rows with those values in the "location" column
# df = df.drop(df[df["location"].isin(locations_to_exclude)].index)
# df["location"].unique()

In [11]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351746,ZWE,Africa,Zimbabwe,2023-10-21,265821.0,0.0,1.857,5720.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351747,ZWE,Africa,Zimbabwe,2023-10-22,265821.0,0.0,1.857,5720.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351748,ZWE,Africa,Zimbabwe,2023-10-23,265821.0,0.0,1.857,5720.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351749,ZWE,Africa,Zimbabwe,2023-10-24,265821.0,0.0,0.000,5720.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351750,ZWE,Africa,Zimbabwe,2023-10-25,265821.0,0.0,0.000,5720.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [12]:
# most recent cases
most_recent = df.sort_values("date", ascending = False).reset_index()
most_recent

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,176639,LTU,Europe,Lithuania,2023-10-27,NaN,NaN,NaN,NaN,NaN,...,38.0,NaN,6.560,75.93,0.882,2.750058e+06,NaN,NaN,NaN,NaN
1,47335,BGR,Europe,Bulgaria,2023-10-27,NaN,NaN,NaN,NaN,NaN,...,44.4,NaN,7.454,75.05,0.816,6.781955e+06,NaN,NaN,NaN,NaN
2,336629,URY,South America,Uruguay,2023-10-27,NaN,NaN,NaN,NaN,NaN,...,19.9,NaN,2.800,77.91,0.817,3.422796e+06,NaN,NaN,NaN,NaN
3,18101,OWID_ASI,NaN,Asia,2023-10-27,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.721383e+09,NaN,NaN,NaN,NaN
4,98761,OWID_EUR,NaN,Europe,2023-10-27,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.448078e+08,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343386,312962,TGO,Africa,Togo,2020-01-03,NaN,0.0,NaN,NaN,0.0,...,14.2,10.475,0.700,61.04,0.515,8.848700e+06,NaN,NaN,NaN,NaN
343387,196926,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,...,21.4,87.847,1.380,75.05,0.779,1.275041e+08,NaN,NaN,NaN,NaN
343388,12529,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN
343389,196925,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,...,21.4,87.847,1.380,75.05,0.779,1.275041e+08,NaN,NaN,NaN,NaN
343390,12528,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,...,27.7,NaN,5.000,76.67,0.845,4.551032e+07,NaN,NaN,NaN,NaN

In [13]:
# confirmed cases per country
cases_per_country = df.groupby(["location"])[["total_cases","new_cases","new_deaths"]].sum()
cases_per_country

                   total_cases  new_cases  new_deaths
location
Afghanistan        180691696.0   226843.0      7952.0
Albania            261499346.0   334090.0      3604.0
Algeria            244983434.0   271945.0      6881.0
American Samoa       4544988.0     8359.0        34.0
Andorra             35550478.0    48015.0       159.0
...                        ...        ...         ...
Wallis and Futuna    1596471.0     3550.0         8.0
Western Sahara             0.0        0.0         0.0
Yemen               10618249.0    11945.0      2159.0
Zambia             275349321.0   349287.0      4069.0
Zimbabwe           201249129.0   265822.0      5722.0

[249 rows x 3 columns]

In [14]:
df["date"][0]

'2020-01-03'

In [15]:
df["date"] = pd.to_datetime(df["date"])
df["date"] = df["date"].dt.strftime("%Y/%m/%d")
type(df["date"][0])

C:\Users\HP\AppData\Local\Temp\ipykernel_7204\1028416321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date"] = pd.to_datetime(df["date"])
C:\Users\HP\AppData\Local\Temp\ipykernel_7204\1028416321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date"] = df["date"].dt.strftime("%Y/%m/%d")

str

In [16]:
df["date"]

0         2020/01/03
1         2020/01/04
2         2020/01/05
3         2020/01/06
4         2020/01/07
             ...
351746    2023/10/21
351747    2023/10/22
351748    2023/10/23
351749    2023/10/24
351750    2023/10/25
Name: date, Length: 343391, dtype: object

In [17]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020/01/03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020/01/04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020/01/05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020/01/06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020/01/07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351746,ZWE,Africa,Zimbabwe,2023/10/21,265821.0,0.0,1.857,5720.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351747,ZWE,Africa,Zimbabwe,2023/10/22,265821.0,0.0,1.857,5720.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351748,ZWE,Africa,Zimbabwe,2023/10/23,265821.0,0.0,1.857,5720.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351749,ZWE,Africa,Zimbabwe,2023/10/24,265821.0,0.0,0.000,5720.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
351750,ZWE,Africa,Zimbabwe,2023/10/25,265821.0,0.0,0.000,5720.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [18]:
df = df.set_index('date')
df

,iso_code,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
date,,,,,,,,,,,,,,,,,,,,,
2020/01/03,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020/01/04,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020/01/05,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020/01/06,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2020/01/07,AFG,Asia,Afghanistan,NaN,0.0,NaN,NaN,0.0,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023/10/21,ZWE,Africa,Zimbabwe,265821.0,0.0,1.857,5720.0,0.0,0.143,16287.514,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2023/10/22,ZWE,Africa,Zimbabwe,265821.0,0.0,1.857,5720.0,0.0,0.143,16287.514,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2023/10/23,ZWE,Africa,Zimbabwe,265821.0,0.0,1.857,5720.0,0.0,0.143,16287.514,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2023/10/24,ZWE,Africa,Zimbabwe,265821.0,0.0,0.000,5720.0,0.0,0.000,16287.514,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
2023/10/25,ZWE,Africa,Zimbabwe,265821.0,0.0,0.000,5720.0,0.0,0.000,16287.514,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [19]:
# creating pivot table
flourish = pd.pivot_table(df,values="total_cases", index=["location"], columns="date").reset_index()
flourish = flourish.fillna(0)
flourish

date,location,2020/01/04,2020/01/05,2020/01/06,2020/01/07,2020/01/08,2020/01/09,2020/01/10,2020/01/11,2020/01/12,...,2023/10/16,2023/10/17,2023/10/18,2023/10/19,2023/10/20,2023/10/21,2023/10/22,2023/10/23,2023/10/24,2023/10/25
0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,226843.0,226843.0,226843.0,226843.0,226843.0,226843.0,226843.0,226843.0,226843.0,226843.0
1,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0
2,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0
3,American Samoa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0,8359.0
4,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,Vietnam,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0,11624000.0
234,Wallis and Futuna,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0,3550.0
235,Yemen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0,11945.0
236,Zambia,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0,349287.0
237,Zimbabwe,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,265808.0,265821.0,265821.0,265821.0,265821.0,265821.0,265821.0,265821.0,265821.0,265821.0

In [23]:
flags = pd.read_csv("https://raw.githubusercontent.com/rajeevratan84/covid/master/flags_world.csv")
flags

          country                                          Image URL
0     Afghanistan  https://upload.wikimedia.org/wikipedia/commons...
1          Angola  https://cdn.countryflags.com/thumbs/angola/fla...
2         Albania  https://cdn.countryflags.com/thumbs/albania/fl...
3         Andorra  https://cdn.countryflags.com/thumbs/andorra/fl...
4       Argentina  https://cdn.countryflags.com/thumbs/argentina/...
..            ...                                                ...
203        Kosovo  https://cdn.countryflags.com/thumbs/kosovo/fla...
204   Yemen, Rep.       https://flagpedia.net/data/flags/w580/ye.png
205  South Africa  https://cdn.countryflags.com/thumbs/south-afri...
206        Zambia  https://cdn.countryflags.com/thumbs/zambia/fla...
207      Zimbabwe  https://cdn.countryflags.com/thumbs/zimbabwe/f...

[208 rows x 2 columns]

In [25]:
# merge data with flag
florish = pd.merge(flourish, flags, left_on="location", right_on="country")
florish.head()

,location,2020/01/04,2020/01/05,2020/01/06,2020/01/07,2020/01/08,2020/01/09,2020/01/10,2020/01/11,2020/01/12,...,2023/10/18,2023/10/19,2023/10/20,2023/10/21,2023/10/22,2023/10/23,2023/10/24,2023/10/25,country,Image URL
0,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,226843.0,226843.0,226843.0,226843.0,226843.0,226843.0,226843.0,226843.0,Afghanistan,https://upload.wikimedia.org/wikipedia/commons...
1,Albania,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,334090.0,Albania,https://cdn.countryflags.com/thumbs/albania/fl...
2,Algeria,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,271945.0,Algeria,https://cdn.countryflags.com/thumbs/algeria/fl...
3,Andorra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,48015.0,Andorra,https://cdn.countryflags.com/thumbs/andorra/fl...
4,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,105976.0,105976.0,105976.0,105976.0,105976.0,105976.0,105976.0,105976.0,Angola,https://cdn.countryflags.com/thumbs/angola/fla...

In [29]:
del florish["country"]
images = florish["Image URL"]
florish.drop(labels=["Image URL"], axis=1, inplace=True)
florish.insert(1,"Flags", images)
florish

In [30]:
florish.to_csv("covid_final_project.csv")

In [31]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 6279-8B1F

 Directory of C:\Users\HP\Documents

10/28/2023  01:45 PM    <DIR>          .
10/28/2023  11:52 AM    <DIR>          .ipynb_checkpoints
04/26/2023  04:45 PM            11,242 .RData
06/07/2023  04:29 PM            10,783 .Rhistory
10/09/2023  12:16 PM    <DIR>          __pycache__
07/08/2023  09:49 PM                 0 3
07/08/2023  09:50 PM                 0 5
04/07/2020  11:37 PM             2,436 50_Startups.csv
10/16/2022  07:34 PM    <DIR>          academy_app
12/05/2022  05:16 PM       602,289,170 academy_app.zip
08/12/2022  10:58 PM    <DIR>          Academy-LMS
10/09/2023  12:41 PM                37 ade1.txt
10/04/2023  03:03 PM            17,479 afternoon class python.ipynb
09/03/2022  03:56 PM    <DIR>          api
04/30/2023  12:09 PM    <DIR>          app source code
10/10/2022  10:20 AM        30,881,911 app-release.apk
08/26/2023  01:20 PM           480,494 Apriori.ipynb
10/04/2022  04:21 PM    <DIR>          ariot-properties-master
08/07/2022  01:21 AM            11,551 assignment 2.docx
08/07/2022  12:27 AM            37,400 assignment 2.pdf
10/07/2023  12:01 PM             6,776 Assignment.ipynb
08/17/2022  07:46 PM               394 assignmernt.txt
08/01/2022  02:52 PM               187 asyncexmaple.dart.txt
09/29/2022  10:41 AM    <DIR>          Automate
09/12/2022  06:13 PM    <DIR>          automation
10/04/2022  02:20 PM    <DIR>          autosmart
07/08/2023  09:50 PM                 0 b
11/12/2022  10:51 AM    <DIR>          BI Files
10/11/2023  01:56 PM             6,116 billionaires.xlsx
10/07/2023  12:59 PM             6,170 billionaires2023.xlsx
10/15/2022  06:56 PM         5,029,499 BlackTECH Presentation - python Immersive  Program.pptx
10/09/2023  12:06 PM               132 calculator.py
09/04/2022  09:10 AM    <DIR>          centos
04/19/2022  11:13 AM           901,198 certificate.zip
05/19/2022  09:28 PM           104,246 Charles Kwaku Oppong.pdf
08/24/2022  11:34 PM               632 cicd.txt
09/06/2022  11:20 AM            96,939 CLEARANCE elijah september.pdf
09/11/2023  09:24 AM               148 Client table.csv
08/04/2022  01:37 PM    <DIR>          collaboration
10/20/2023  03:15 PM           165,143 Covid 19 Final project.ipynb
10/28/2023  01:44 PM           163,180 covid final project.ipynb
10/20/2023  01:51 PM         1,990,064 covid_final.csv
10/28/2023  01:45 PM         2,051,339 covid_final_project.csv
04/30/2023  08:05 AM            90,722 customer analysis.ipynb
04/30/2023  07:12 AM            60,075 Customers.csv
12/20/2022  11:20 AM    <DIR>          data
09/03/2022  10:31 PM            82,188 Data Analytics Training.pdf
04/07/2020  11:37 PM               226 Data.csv
08/10/2022  01:07 PM            32,726 day 1 assignment.pdf
08/08/2022  12:10 AM         1,056,636 Day1 Presentation.pdf
10/07/2022  01:28 PM               219 democlass.sql
03/18/2023  07:41 PM    <DIR>          devops
09/16/2022  04:13 PM            58,703 DevOps and azure administration training.pdf
09/01/2022  07:39 AM             1,480 devops interview.txt
09/16/2022  04:16 PM            44,308 devops outline.docx
09/24/2022  06:59 PM            29,725 dictionary.ipynb
09/11/2022  01:23 PM             2,561 divorced test.txt
09/03/2022  02:58 PM    <DIR>          django weekend
08/27/2022  12:49 AM    <DIR>          django1
02/02/2021  12:13 AM            59,081 dm_office_sales.csv
03/02/2023  11:44 AM    <DIR>          docker class
03/24/2022  03:35 PM               125 Dockerfile
08/05/2022  03:03 PM    <DIR>          docker-sample-app
09/16/2022  04:02 PM            41,921 Document1.pdf
04/30/2023  09:08 AM    <DIR>          Documentation
03/27/2023  02:55 PM           313,360 drivers.png
09/17/2022  11:51 AM            14,754 Employee oop.docx
05/02/2021  06:21 PM           227,977 employee.csv
09/24/2022  06:40 PM    <DIR>          example
10/26/2021  04:53 PM                80 example.csv
04/03/2023  01:21 PM    <DIR>          excel class
09/02/2022  03:57 PM    <DIR>          fluterclass
06/10/2023  11:44 AM    <DIR>          flutter
02/11/2023  01:39 PM            11,267 function.ipynb
02/02/2021  12:13 AM            33,036 gene_expression.csv
09/20/2022  05:54 PM               451 git assessment.txt
05/31/2023  01:45 PM             5,464 graph.png
09/20/2022  02:04 PM    <DIR>          gt
08/06/2023  10:59 PM            11,328 heart.csv
09/15/2022  11:49 AM           357,388 heights_weights.csv
07/26/2022  05:55 PM    <DIR>          HiSuite
10/16/2023  03:47 PM            44,956 Hotel data project.ipynb
10/28/2023  11:44 AM            22,267 Hotel project.ipynb
02/02/2021  12:13 AM        25,112,317 hotel_booking_data.csv
02/08/2022  02:24 AM            19,960 house_prices - Copy.csv
02/08/2022  02:24 AM            19,960 house_prices.csv
09/13/2022  04:23 PM    <DIR>          html
09/07/2023  04:48 AM    <DIR>          html class
08/10/2023  02:08 PM    <DIR>          html training
08/26/2022  01:24 AM               281 install jenkins.txt
08/10/2022  10:59 AM            70,255 Intro to python .ipynb
02/02/2022  05:20 PM            46,099 IT acceptance letter.pdf
10/24/2022  03:44 PM    <DIR>          jav
11/05/2022  09:35 PM    <DIR>          java
09/18/2022  09:33 AM         4,458,427 JAVA PROGRAMMING.pptx
10/08/2022  07:26 PM    <DIR>          javaclass
08/19/2022  12:24 PM    <DIR>          jenkinsclass
08/13/2023  03:24 AM    <DIR>          js
04/24/2023  01:52 PM    <DIR>          js class
05/19/2023  10:45 AM    <DIR>          k8
05/19/2023  10:52 AM             1,373 k8.zip
12/20/2022  02:51 PM             6,677 K-Nearest Neighbor (KNN).ipynb
09/20/2022  12:32 PM           137,454 KNN.ipynb
08/05/2023  12:31 PM             7,924 KNN2.ipynb
12/20/2022  12:23 PM            55,308 Linear Regression.ipynb
08/21/2022  12:05 AM    <DIR>          linux
01/28/2023  01:42 PM        13,456,037 list and dict slide.pdf
08/17/2022  11:44 AM             9,105 live-class.zip
09/15/2022  12:16 PM            73,030 Logistic regression.ipynb
12/20/2022  02:26 PM            75,714 Logistic regression2.ipynb
06/22/2023  09:35 PM               656 logo.ai
08/12/2023  01:12 PM         1,176,918 machine learning assignment.ipynb
09/15/2022  11:42 AM           114,278 Machine Learning.ipynb
08/05/2023  01:02 PM           206,122 Machine Learning2.ipynb
02/08/2022  02:11 AM             4,286 Mall_Customers.csv
04/07/2020  11:38 PM           302,908 Market_Basket_Optimisation.csv
08/07/2022  12:22 AM                79 marks.txt
10/21/2023  12:59 PM           202,231 Matplotlib and seaborn.ipynb
09/11/2022  12:01 PM    <DIR>          ML
07/08/2023  11:57 PM             1,250 module.ipynb
03/11/2023  03:31 PM            34,148 modules.ipynb
10/20/2023  10:14 AM    <DIR>          Mono-site-HTML-main
10/09/2023  12:59 PM            49,095 morning class python.ipynb
02/02/2021  12:13 AM               177 movie_scores.csv
02/25/2023  11:58 AM         1,942,970 moviestreams.csv
02/02/2021  12:13 AM            17,727 mpg.csv
09/16/2022  01:46 PM    <DIR>          myapi
07/08/2023  11:45 PM                37 mydata.py
01/25/2023  01:34 PM         2,783,002 MYSQL TRAINING.pdf
02/01/2023  12:31 PM         3,010,012 MYSQL TRAINING.pptx
09/02/2023  04:53 PM    <DIR>          nairarain_html
02/26/2023  08:21 AM         3,950,712 netflix data analysis.ipynb
10/21/2023  11:33 AM            14,659 newgraph.jpg
07/22/2023  09:56 PM            24,935 newgraph1.jpg
10/20/2022  10:43 AM    <DIR>          nextjs
10/11/2023  01:00 PM            20,947 Numpy class new.ipynb
03/06/2023  11:49 AM            15,133 Numpy class.ipynb
10/09/2023  03:03 PM            21,880 Numpy new class.ipynb
10/15/2022  06:47 PM            17,695 Numpy newclass.ipynb
07/15/2023  10:26 PM            22,644 Numpy.ipynb
08/15/2022  04:40 PM            41,720 NYSC accetanc eletter.pdf
07/05/2020  01:51 PM            26,328 offline-payment-gateway.zip
07/22/2023  01:14 PM            42,947 Olympic prediction.ipynb
07/22/2023  12:02 PM               325 olympic_data.csv
09/13/2022  11:52 AM               325 olympic100m.csv
04/04/2023  01:24 PM             9,848 OOP training.ipynb
03/15/2023  03:55 PM            13,860 oop.ipynb
09/11/2023  09:24 AM               268 orderTable.csv
09/27/2022  11:51 AM        62,167,213 owid-covid-data.csv
07/23/2023  12:16 AM           484,586 Pandas class blacktech.ipynb
03/06/2023  12:59 PM            19,456 Pandas class.ipynb
10/16/2023  03:56 PM           347,188 Pandas for data analysis.ipynb
10/16/2023  01:22 PM           126,614 Pandas newclass.ipynb
03/04/2023  12:57 PM            25,816 pandas note.ipynb
03/25/2023  12:58 PM           319,493 Pandas Training.ipynb
11/05/2022  07:08 PM           311,817 Pandas.ipynb
04/04/2023  04:03 PM           136,989 pansas.ipynb
08/02/2022  10:37 AM               582 payroll.txt
11/04/2020  03:24 PM           259,425 paystack-payment-gateway.zip
05/30/2023  12:26 AM            23,294 Picture1.png
05/30/2023  12:26 AM         1,622,635 Picture2.png
05/30/2023  12:26 AM         1,479,966 Picture3.png
09/04/2022  02:22 PM             5,665 pivot_sales_data.xlsx
10/11/2023  03:50 PM            10,354 plot.png
10/11/2023  04:00 PM            27,828 plot2.jpg
11/12/2022  10:51 AM    <DIR>          POWERBI data
01/25/2023  01:19 PM           900,330 Presentation1.pdf
09/11/2023  09:24 AM               208 productTable.csv
08/08/2022  11:45 AM             1,685 python assignment day2.txt
08/22/2022  01:16 AM            11,437 python assignment week3.docx
10/22/2023  12:24 AM    <DIR>          python class blacktech
07/08/2023  11:52 PM            63,070 python class.ipynb
08/08/2022  12:21 AM            11,452 Python Day 1 assignment.docx
08/14/2022  07:23 PM            13,129 Python immersion assignment.docx
10/15/2022  06:58 PM           843,879 python intro.pdf
08/07/2022  01:56 PM            12,363 python programming course outline.docx
08/26/2022  03:06 PM            27,948 Python sample.ipynb
07/18/2022  11:45 PM    <DIR>          Python Scripts
08/07/2022  07:51 PM         3,232,491 python training blacktech.pptx
09/14/2022  01:22 PM         2,624,588 python.pdf
03/25/2023  11:56 PM            30,756 pythonclass.ipynb
03/01/2023  12:00 PM             4,817 python-class-assignment-solution.ipynb
03/04/2023  03:59 PM            47,472 python-note.ipynb
05/31/2023  02:19 PM    <DIR>          rclass
04/26/2023  04:44 PM             1,812 rclass.R
10/04/2022  10:33 AM    <DIR>          react newclass
10/04/2023  03:02 PM                45 result.py
09/04/2022  01:11 PM               682 richest.csv
02/08/2022  02:11 AM               454 Salary_Data - Copy.csv
02/08/2022  02:11 AM               454 Salary_Data.csv
02/02/2021  12:13 AM             1,320 Sales_Funnel_CRM.csv
09/24/2022  06:57 PM                34 sales_sample.txt
08/10/2022  10:29 AM             1,099 sample.ipynb
08/10/2022  10:31 AM             1,099 sample.py
08/10/2022  10:43 AM                39 samplefile.txt
09/20/2022  03:03 PM    <DIR>          samplegit
10/26/2021  04:53 PM            29,380 Sample-Sales-Data.xlsx
05/03/2020  05:54 PM             4,903 Social_Network_Ads.csv
08/13/2022  11:33 AM             1,014 sql outline.txt
03/18/2023  10:41 AM    <DIR>          SQL Server Management Studio
04/17/2023  11:03 AM             2,002 sqlclass.sql
12/10/2022  12:58 PM               163 sqlweekendclass.sql
09/04/2022  02:04 PM           782,996 Store-Sales.xlsx
09/02/2022  05:46 PM         1,079,002 Store-Salescopy.xlsx
09/13/2023  01:14 PM               524 string manipulations.csv
06/10/2021  01:40 PM            72,036 Student.csv
07/28/2022  03:36 PM         1,208,608 Summer-Olympic-medals-1976-to-2008.xlsx
09/04/2022  02:18 PM           102,974 supermarket_sales.xlsx
09/29/2022  02:28 PM    <DIR>          target
01/16/2023  09:07 AM           730,546 Tech 365 Application Form - updated.pdf
09/29/2022  12:52 PM    <DIR>          tech365 python class
02/01/2023  12:17 PM    <DIR>          tech365 sql
01/25/2023  02:18 PM         2,773,744 tech365 sql slide1.pdf
08/09/2022  11:16 AM    <DIR>          terraform class
10/06/2022  02:34 PM    <DIR>          terraform new class
11/19/2022  04:00 PM    <DIR>          test
02/02/2021  12:13 AM            18,752 tips.csv
08/30/2022  03:57 AM    <DIR>          tomcat
03/04/2023  12:32 PM             6,122 top_10_billionaire_2022.xlsx
07/22/2023  09:10 PM             5,777 top_3_billionaires.xlsx
02/25/2023  01:14 AM           209,119 Uber data analysis.ipynb
02/25/2023  12:02 AM            86,369 UberDrives.csv
11/03/2022  10:42 AM    <DIR>          ubuntunew
08/19/2023  01:02 PM            81,423 unsupervised learning.ipynb
09/29/2022  05:07 PM            33,134 Untitled.ipynb
07/30/2022  08:58 PM             1,258 Untitled1.ipynb
08/21/2023  02:39 PM           476,286 Untitled10.ipynb
10/07/2023  01:00 PM            10,223 Untitled11.ipynb
10/06/2023  03:04 PM            45,641 Untitled12.ipynb
10/09/2023  12:07 PM            18,446 Untitled13.ipynb
10/16/2023  12:32 PM                72 Untitled14.ipynb
09/04/2022  02:36 PM            33,882 Untitled2.ipynb
09/04/2022  07:46 PM            11,348 Untitled3.ipynb
10/15/2022  06:50 PM               588 Untitled4.ipynb
12/27/2022  01:25 PM             9,521 Untitled5.ipynb
12/29/2022  11:22 AM               588 Untitled6.ipynb
12/29/2022  12:51 PM            52,769 Untitled7.ipynb
01/28/2023  12:38 PM            19,613 Untitled8.ipynb
08/05/2023  11:38 AM                72 Untitled9.ipynb
09/13/2022  02:11 PM               171 userdata.txt
08/02/2022  11:38 AM    <DIR>          vagrant
10/06/2023  02:43 PM    <DIR>          vfolder
06/27/2023  05:56 PM    <DIR>          Virtual Machines
03/18/2023  10:46 AM    <DIR>          Visual Studio 2017
07/20/2022  10:35 PM    <DIR>          Visual Studio 2022
09/04/2022  10:35 AM           369,005 wale.jpg
10/06/2023  03:02 PM             5,338 wale2020.txt
08/24/2022  07:00 PM            20,468 web mobile app proposal.docx
08/24/2022  07:00 PM            98,875 web mobile app proposal.pdf
08/12/2022  04:32 PM            10,263 Week 1.docx
08/14/2022  06:24 PM            12,587 Week 3 Assignment.docx
02/04/2023  12:48 PM            13,722 weekend if and loop.ipynb
09/03/2022  06:29 PM            23,720 Weekend new python class.ipynb
08/23/2022  12:04 PM    <DIR>          WindowsPowerShell
07/21/2022  04:42 PM    <DIR>          Wondershare
02/27/2023  03:09 PM    <DIR>          Youtube CLone
09/02/2023  11:34 AM    <DIR>          Zoom
             190 File(s)    788,152,361 bytes
              67 Dir(s)  612,946,419,712 bytes free